@font-face {
    font-family: 'Berlingske Serif';
    src: url('../fonts/berlingske-serif-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif Bold';
    src: url('../fonts/berlingske-serif-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif Italic';
    src: url('../fonts/berlingske-serif-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lovely Day';
    src: url('../fonts/lovely-day.ttf');
}

body {
    font-family: 'Berlingske Serif Italic';
    font-size: 18px;
    color: #3f3f3f;
}

a {
  text-decoration: none;
}

.jumbotron {
  background: transparent;
  text-align: center;
}

p.subtitle {
  font-family: 'Berlingske Serif';
  text-transform: uppercase;
  color: #5b8b7e;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
}

h1, h2 {
  font-family: 'Lovely Day';
  line-height: normal;
}

ul {
  list-style: none;
  padding-left: 0px;
}

ul.ceremony {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Berlingske Serif';
  color: #5b8b7e;
}

ul.secondary {
  margin-bottom: 0px;
}

ul li {
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'Berlingske Serif Bold';
  text-transform: uppercase;
  color: #5b8b7e;
}
