@font-face {
    font-family: 'Berlingske Serif';
    src: url('../fonts/berlingske-serif-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif Bold';
    src: url('../fonts/berlingske-serif-bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif Italic';
    src: url('../fonts/berlingske-serif-italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lovely Day';
    src: url('../fonts/lovely-day.ttf');
}

body {
    font-family: 'Berlingske Serif';
    font-size: 18px;
}

p.subtitle {
  font-family: 'Berlingske Serif';
  text-transform: uppercase;
  color: #5b8b7e;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
}

h1, h2 {
  font-family: 'Lovely Day';
}

ul {
  list-style: none;
}

h3 {
  font-family: 'Berlingske Serif Bold';
  text-transform: uppercase;
}
